<mat-toolbar class="header">
  <div class="nav-left">
    <button class="btn-mobile-principal"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> 
           
        <button mat-button class="btn-chevron" onclick="isExp()" (click)="isExpanded = !isExpanded">
          <mat-icon mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated': isExpanded}">
            menu
          </mat-icon>
        </button>
        <a class="navbar-brand me-0 px-3 fs-6 slide-in-blurred-top" href="#" [routerLink]="'liste-user'">
          <img src="../../../../../assets/images/tanitlabailogo.png" class="logo">
        </a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize id="sidenav" >

  <mat-sidenav #drawer class="sidenav menu swing-in-left-bck" 
              [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
              [mode]="(isHandset$ | async) ? 'over' : 'side'" 
              [opened]="(isHandset$ | async) === false" 
              [ngClass]="{'new-width': isExpanded}" >
    
    <mat-nav-list class=" menu-style" [ngClass]="{'new-style-css': isExpanded}">
      <mat-list-item [routerLink]="'veichule'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link" >commute</mat-icon>
        <span >Véhicule</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'view-user'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link">departure_board</mat-icon>
        <span >Reservations</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'liste-notification'" routerLinkActive="active" class="list-item">
        <mat-icon mat-list-icon class="icon-link">money</mat-icon>
        <span >Payments</span>
      </mat-list-item>
      
    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
 
</mat-sidenav-container>
